/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border: none;
}

button:focus {
    border: none;
    outline: none;
}

/* PAGINA */

body{
    background-image: url(./imgs/Bg_index.png) ;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
header{
    -webkit-text-stroke: 0.1px #f93c15;
    font-family: 'Fredoka One', cursive;
    width:100%;
    color: #ffd232;
    text-align: center;
    font-size: 3em;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Londrina Solid', cursive;
}

.imglogo{
    width: 20em ;
    margin: 7em 0 7em 0;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.lang1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.533);
    font-weight: 400;
    font-size: 1.3rem;
    padding: 1.5em;
    margin-right: 5em;
    
}

.lang2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    border: solid black 1px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.533);
    font-weight: 400;
    font-size: 1.3rem;
    padding: 1.5em;

}

button{
    background-color: transparent;
    cursor: pointer;
    width: 5em;
    transition: all 0.3s;
}

button:hover{
    transform: scale(1.1);
}

.flag{
    width: 5em;
}

h2, h3{
    color: red;
    font-weight: 900;
    }

.engpt{
    color: red;
}

@media(max-width:1500px){
    h1{
        font-size:4rem;
    }

    .imglogo{
        margin: 5em 0 5em 0;
    }
}

@media(max-width:1100px){
    .container{
        width: 80%;
    }
   
    .lang1{
        font-size: 1.2rem;
    }

    .lang2{
        font-size: 1.2rem;
    }
}

@media(max-width:700px){
    h1{
        font-size:2.9rem;
    }

    .imglogo{
        width: 14em;
    }

    .container{
        flex-direction: row;    
        width: 95%;            
    }

    .lang1{
        font-size: 1rem;
        margin-right: 1em;
    }

    .lang2{
        font-size: 1rem;
    }

    button{
        width: 4.5em;
    }

    .flag{
        width: 4.5em;
    }
}


@media(max-width:500px){
    h1{
        font-size:2rem;
    }
    
    .imglogo{
        margin:3em 0 3em 0;
        width: 15em;
    }

    .container{
        flex-direction: row;    
        width: 95%;            
    }

    .lang1{
        font-size: 0.9rem;
        margin-right: 1em;
    }

    .lang2{
        font-size: 0.9rem;
    }

    button{
        width: 4em;
    }

    .flag{
        width: 4em;
    }
}